alias please="sudo"
alias winhome="cd /mnt/c/Users/grsch"
alias wh="winhome"
alias mkp="cd /mnt/c/code/github/manuscript-object"
alias cs="cd /mnt/c/code/github"
alias csi="cd /mnt/c/code/github/columbiaspace.org"
alias activate="source .venv/bin/activate"
alias start="cmd.exe /c start"
alias sumatra="sumatra.exe"
alias latex="latex.exe"
alias pdflatex="pdflatex.exe"
alias pdf="pdflatex.exe"
alias localhost="python3 -m http.server"
alias jpynb="~/.local/bin/jupyter-notebook --no-browser"
alias hindent="hindent --indent-size 2"
alias mingwgcc="/mnt/c/mingw/bin/gcc.exe"
alias processingjava="/mnt/c/Users/grsch/Desktop/processing-3.5.4/processing-java.exe"
