alias winhome="cd /mnt/c/Users/grsch"
alias mkp="cd /mnt/c/code/mkp/manuscript-object"
alias cs="cd /mnt/c/code"
alias csi="cd /mnt/c/code/columbiaspace.org"
alias activate="source .venv/bin/activate"
alias start="cmd.exe /c start"
alias sumatra="sumatra.exe"
alias latex="latex.exe"
alias pdflatex="pdflatex.exe"
alias pdf="pdflatex.exe"
alias localhost="python3 -m http.server"
alias jpynb="~/.local/bin/jupyter-notebook --no-browser"
alias wh="winhome"
